@import "tailwindcss";

:root {
  --sidebar: #0a1628;
  --main: #0f1f3d;
  --accent: #ff8c00;
  --text: #a9b0b8;
}

@theme inline {
  --font-poppins: var(--font-poppins);
  --color-sidebar: var(--sidebar);
  --color-main: var(--main);
  --color-accent: var(--accent);
  --color-text: var(--text);
}

body {
  font-family: var(--font-poppins);
}
